  <head>
    <title>lukebaker.org{% if page.title %} - {{ page.title }}{% else %} | Luke Baker{% endif %}</title>
    <meta charset="utf-8">
    <link rel="openid.server" href="https://lukebaker.wordpress.com/?openidserver=1" />
    <link rel="openid.delegate" href="https://lukebaker.wordpress.com/" />

    <link rel="alternate" type="application/atom+xml" title="lukebaker.org - Atom" href="{{ site.url }}/feed/atom/" />
    <link rel="alternate" type="application/rss+xml" title="lukebaker.org - RSS" href="{{ site.url }}/feed/" />

    <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/all.css" rel="stylesheet">

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-2917819-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
