---
---

$font-size-base: 16px;
$navbar-border-radius: 0;
$navbar-default-bg: #fff;
$navbar-default-link-color: #333;
$navbar-default-link-hover-color: #000;

@import "bootstrap";

h1, .h1,
h2, .h2,
h3, .h3 {
  margin-top: $line-height-computed * 2;
  margin-bottom: ($line-height-computed);
}

.navbar {
  border-left: none;
  border-right: none;
  border-top: none;
}

/* styles borrowed bootstrap's styles for <code> */
.short-date {
  padding: 2px 6px 2px 0;
  color: gray;
  font-size: $font-size-base - 2;
  font-family: $font-family-monospace;
}

body {
  margin-bottom: 3em;
}

.md-content {
  img {
    @extend .img-responsive;
  }
}
